# SQL Exploration 2

  

* Developed by Monalisa Roy

## Creating database

In [3]:
Create database Office1;

##Â  Creating Employee Table and inserting values

In [5]:
Use Office1;

Create Table Employee(
Employee_id int not null unique,
First_name varchar(50) not null,
Last_name varchar(20) not null,
Salary int not null,
Joining_date datetime,
Department varchar(50),
Primary key (Employee_id));

In [11]:
Insert into Employee values(1, 'Anika', 'Arora', 100000, '2020-02-14 9:00:00', 'HR');
Insert into Employee values(2, 'Veena', 'Verma', 80000, '2011-06-15 9:00:00', 'Admin');
Insert into Employee values(3, 'Vishal', 'Singhal', 300000, '2020-02-16 9:00:00', 'HR');
Insert into Employee values(4, 'Sushanth', 'Singh', 500000, '2020-02-17 9:00:00', 'Admin');
Insert into Employee values(5, 'Bhupal', 'Bhati', 500000, '2011-06-18 9:00:00', 'Admin');
Insert into Employee values(6, 'Dheeraj', 'Diwan', 200000, '2011-06-19 9:00:00', 'Account');
Insert into Employee values(7, 'Karan', 'Kumar', 75000, '2020-01-14 9:00:00', 'Account');
Insert into Employee values(8, 'Chandrika', 'Chauhan', 90000, '2011-04-15 9:00:00', 'Admin');

In [12]:
Select * from Employee;

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin

## CreatingÂ  Employee Title Table and inserting values

In [14]:
Use Office1;
Create Table Employee_Title(
Employee_ref_id int not null,
Employee_title varchar(100),
Affective_Date datetime);

Insert into Employee_Title values(
1, 'Manager', '2016-02-20 0:00:00');
Insert into Employee_Title values(
2, 'Executive', '2016-06-11 0:00:00');
Insert into Employee_Title values(
8, 'Executive', '2016-06-11 0:00:00');
Insert into Employee_Title values(
5, 'Manager', '2016-06-11 0:00:00');
Insert into Employee_Title values(
4, 'Asst.Manager', '2016-06-11 0:00:00');
Insert into Employee_Title values(
7, 'Executive', '2016-06-11 0:00:00');
Insert into Employee_Title values(
6, 'Lead', '2016-06-11 0:00:00');
Insert into Employee_Title values(
3, 'Lead', '2016-06-11 0:00:00');

Select * from Employee_Title;

Employee_ref_id,Employee_title,Affective_Date
1,Manager,2016-02-20 00:00:00.000
2,Executive,2016-06-11 00:00:00.000
8,Executive,2016-06-11 00:00:00.000
5,Manager,2016-06-11 00:00:00.000
4,Asst.Manager,2016-06-11 00:00:00.000
7,Executive,2016-06-11 00:00:00.000
6,Lead,2016-06-11 00:00:00.000
3,Lead,2016-06-11 00:00:00.000

##Â  Creating Employee Bonus Table and inserting values

In [15]:
Use Office1;
Create Table Employee_Bonus(
Employee_ref_id int not null,
Bonus_Amount int not null,
Bonus_Date datetime,
Foreign key (Employee_ref_id) references Employee (Employee_id));


Insert into Employee_Bonus values(
1, 5000, '2020-02-16 0:00:00' );
Insert into Employee_Bonus values(
2, 3000, '2011-06-16 0:00:00' );
Insert into Employee_Bonus values(
3, 4000, '2020-02-16 0:00:00' );
Insert into Employee_Bonus values(
1, 4500, '2020-02-16 0:00:00' );
Insert into Employee_Bonus values(
2, 3500, '2011-06-16 0:00:00' );

Select * from Employee_Bonus;

Employee_ref_id,Bonus_Amount,Bonus_Date
1,5000,2020-02-16 00:00:00.000
2,3000,2011-06-16 00:00:00.000
3,4000,2020-02-16 00:00:00.000
1,4500,2020-02-16 00:00:00.000
2,3500,2011-06-16 00:00:00.000

##Â  SQL Queries

###Â  DisplayingÂ  the âFIRST\_NAMEâ from Employee table using the alias name as Employee\_name.

In [16]:
Select First_name as Employee_name
from Employee;

Employee_name
Anika
Veena
Vishal
Sushanth
Bhupal
Dheeraj
Karan
Chandrika

###Â  Â DisplayingÂ  âLAST\_NAMEâ from Employee table in upper case.

In [17]:
Select Upper (Last_name) as Last_name from Employee;

Last_name
ARORA
VERMA
SINGHAL
SINGH
BHATI
DIWAN
KUMAR
CHAUHAN

###Â Â DisplayingÂ  unique values of DEPARTMENT from EMPLOYEE table.

In [18]:
Select Distinct (Department) from Employee;

Department
Account
Admin
HR

###Â Â Display the first three characters of LAST\_NAME from EMPLOYEE table.

In [19]:
Select left (Last_name,3) from Employee;

(No column name)
Aro
Ver
Sin
Sin
Bha
Diw
Kum
Cha

###

###Â  Display the unique values of DEPARTMENT from EMPLOYEE table and print its length

In [24]:
Select Distinct (Department),
LEN(Department) from Employee;
/* IN mySQL LEN should be used as Length*/

Department,(No column name)
Account,7
Admin,5
HR,2

###Â Â 

###

###Â  Display the FIRST\_NAME and LAST\_NAME from EMPLOYEE table into a single column AS FULL\_NAME.

In [30]:
Select CONCAT (First_name,' ',Last_name) As Full_Name from Employee;

Full_Name
Anika Arora
Veena Verma
Vishal Singhal
Sushanth Singh
Bhupal Bhati
Dheeraj Diwan
Karan Kumar
Chandrika Chauhan

###Â  DISPLAY all EMPLOYEE details from the employee table order by FIRST\_NAME Ascending.

In [31]:
SElect * from Employee Order by First_name Asc;

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR

###Â  Display all EMPLOYEE details order by FIRST\_NAME Ascending and DEPARTMENT Descending.

In [33]:
Select * from Employee
Order by First_name ASC, Department DESC;

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR

###Â  Display details for EMPLOYEE with the first name as âVEENAâ and âKARANâ from EMPLOYEE table.

In [34]:
Select * from Employee
Where First_name = 'Veena' Or  First_name = 'Karan';

Employee_id,First_name,Last_name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account

###Â Â Display details of EMPLOYEE with DEPARTMENT name as âAdminâ

In [35]:
Select * from Employee 
Where Department = 'Admin';

Employee_id,First_name,Last_name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin

###Â Â DISPLAY details of the EMPLOYEES whose FIRST\_NAME contains âVâ.

In [36]:
Select * from Employee
Where First_name LIKE '%V%';

Employee_id,First_name,Last_name,Salary,Joining_date,Department
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR

###Â  DISPLAY details of the EMPLOYEES whose SALARY lies between 100000 and 500000.

In [37]:
Select * from Employee
Where Salary BETWEEN 100000 AND 500000;

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account

###Â Â Display details of the employees who have joined in Feb-2020.

In [50]:
Select * from Employee
Where MONTH(Joining_date) = 2;
/*MySQL Where Month(Joining_date) = 'February';*/

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin

###Â Â Display employee names with salaries \>= 50000 and \<= 100000.

In [46]:
Select * from Employee
Where Salary>= 50000 AND Salary<=100000;

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin

###Â Â DISPLAY details of the EMPLOYEES who are also Managers.

In [54]:
Select Employee_id, First_name, Last_name, Salary, Joining_date, Department, Employee_ref_id, Employee_title FROM Employee
INNER JOIN Employee_Title ON
Employee_id = Employee_ref_id
Where Employee_title = 'Manager';

/* MySQL: Select Employee.Employee_id, Employee.First_name, Employee.Last_name, Employee.Salary, Employee.Joining_date, Employee.Department, Employee_Title.Employee_ref_id, Employee_Title.Employee_title
FROM Employee
INNER JOIN Employee_Title ON
Employee.Employee_id = Employee_Title.Employee_ref_id
Where Employee_title = 'Manager';*/

Employee_id,First_name,Last_name,Salary,Joining_date,Department,Employee_ref_id,Employee_title
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR,1,Manager
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin,5,Manager

### DISPLAY duplicate records having matching data in some fields of a table.

####Â Â <span style="color: rgb(0, 128, 0); font-family: &quot;Droid Sans Mono&quot;, monospace, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px; white-space: pre;">Duplicate in salary field</span>

In [55]:
Select First_name, Last_name, Salary from Employee
Where Salary in(
Select Salary from Employee Group by Salary Having count(*)>1 );

First_name,Last_name,Salary
Sushanth,Singh,500000
Bhupal,Bhati,500000

####Â Â <span style="color: rgb(0, 128, 0); font-family: &quot;Droid Sans Mono&quot;, monospace, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px; white-space: pre;">Duplicate in department field</span>

In [56]:
Select Employee_id,First_name, Last_name, Department from Employee 
Where Department in(
Select Department from Employee Group by Department Having count(*)>1) order by Department;

Employee_id,First_name,Last_name,Department
6,Dheeraj,Diwan,Account
7,Karan,Kumar,Account
8,Chandrika,Chauhan,Admin
2,Veena,Verma,Admin
4,Sushanth,Singh,Admin
5,Bhupal,Bhati,Admin
3,Vishal,Singhal,HR
1,Anika,Arora,HR

####Â Â <span style="color: rgb(0, 128, 0); font-family: &quot;Droid Sans Mono&quot;, monospace, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px; white-space: pre;">Duplicate in joining date field</span>

In [57]:
Select Employee_id,First_name, Last_name, Joining_date from Employee 
Where Joining_date in(
Select Joining_date from Employee Group by Joining_date Having count(*)>1);

###Â Â Display only odd rows from a table.

In [62]:
Select * from Employee
Where (Employee_id%2) = 1;

/*MySQL: Select * from Employee
Where mod (Employee_id,2) = 1;*/

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account

###Â Â Clone a new table from EMPLOYEE table.

In [69]:
Select *
INTO Employee_New
from Employee;

Select * from Employee;
Select * from Employee_New;

/*MySQL: Create table Employee_New LIKE Employee;
Insert into Employee_New
Select * from Employee;
Select * from Employee_New;*/

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin

###Â Â DISPLAY the TOP 2 highest salary from a table.

In [78]:
SELECT * FROM Employee ORDER BY Salary DESC;
Select TOP 2 * from Employee ORDER BY Salary DESC;
/*MySQL: Select distinct (Salary) from Employee order by Salary DESC LIMIT 2;*/

Employee_id,First_name,Last_name,Salary,Joining_date,Department
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
6,Dheeraj,Diwan,200000,2011-06-19 09:00:00.000,Account
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
8,Chandrika,Chauhan,90000,2011-04-15 09:00:00.000,Admin
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
7,Karan,Kumar,75000,2020-01-14 09:00:00.000,Account

Employee_id,First_name,Last_name,Salary,Joining_date,Department
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin

###Â Â DISPLAY the list of employees with the same salary.

In [79]:
Select First_name, Last_name, Salary from Employee
Where Salary in(
Select Salary from Employee Group by Salary 
Having count(*)>1 );

First_name,Last_name,Salary
Sushanth,Singh,500000
Bhupal,Bhati,500000

###Â Â Display the second highest salary from a table.

In [92]:
Select max(Salary) from Employee
where Salary not in (Select max(Salary)from Employee); 

/*MySQL: select *from Employee 
group by Salary 
order by  Salary desc limit 1,1;*/

(No column name)
300000

###Â Â Display the first 50% records from a table.

In [96]:


SELECT Top 50 percent * from Employee;


/*My SQL: select count(*)/2 from Employee;
select *  from Employee limit 4;*/

Employee_id,First_name,Last_name,Salary,Joining_date,Department
1,Anika,Arora,100000,2020-02-14 09:00:00.000,HR
2,Veena,Verma,80000,2011-06-15 09:00:00.000,Admin
3,Vishal,Singhal,300000,2020-02-16 09:00:00.000,HR
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin

###Â Â . Display the departments that have less than 4 people in it.

In [97]:
Select Department, count(*)
From Employee
Group by Department
Having count(*)<4;

Department,(No column name)
Account,2
HR,2

###Â Â Display all departments along with the number of people in there.

In [98]:
Select Department, count(*)
From Employee
Group by Department;

Department,(No column name)
Account,2
Admin,4
HR,2

###Â  Display the name of employees having the highest salary in each department.

In [109]:
SELECT Department, MAX(Salary) FROM Employee GROUP BY Department;



/*MySQL: Select First_name, Last_name, Salary, Department from Employee
Where (Department, Salary) in (Select Department, max(Salary)
From Employee Group by Department);*/

Department,(No column name)
Account,200000
Admin,500000
HR,300000

###Â Â Display the names of employees who earn the highest salary.

In [102]:
Select * from Employee 
Where Salary in (Select max(Salary)from Employee);

Employee_id,First_name,Last_name,Salary,Joining_date,Department
4,Sushanth,Singh,500000,2020-02-17 09:00:00.000,Admin
5,Bhupal,Bhati,500000,2011-06-18 09:00:00.000,Admin

###

###Â Â Diplay the average salaries for each department

In [106]:
Select Department, Avg(Salary) as
Average_Salary from Employee Group by Department;

Department,Average_Salary
Account,137500
Admin,292500
HR,200000

###Â Â display the name of the employee who has got maximum bonus

In [110]:
Select Employee_id, First_name, Last_name, Salary, Employee.Department, Employee_ref_id, Bonus_Amount
FROM Employee
INNER JOIN Employee_Bonus ON
Employee_id = Employee_ref_id
Where Bonus_Amount in (Select max(Bonus_Amount)from Employee_Bonus);

/* MySQL:Select Employee.Employee_id, Employee.First_name, Employee.Last_name, Employee.Salary, Employee.Department, Employee_Bonus.Employee_ref_id, Employee_Bonus.Bonus_Amount
FROM Employee
INNER JOIN Employee_Bonus ON
Employee.Employee_id = Employee_Bonus.Employee_ref_id
Where Bonus_Amount in (Select max(Bonus_Amount)from Employee_Bonus);*/

Employee_id,First_name,Last_name,Salary,Department,Employee_ref_id,Bonus_Amount
1,Anika,Arora,100000,HR,1,5000

###Â Â Display the first name and title of all the employees

In [108]:
Select Employee.First_name,Employee_Title.Employee_title FROM Employee 
INNER JOIN Employee_Title ON
Employee.Employee_id = Employee_Title.Employee_ref_id;

First_name,Employee_title
Anika,Manager
Veena,Executive
Chandrika,Executive
Bhupal,Manager
Sushanth,Asst.Manager
Karan,Executive
Dheeraj,Lead
Vishal,Lead