# SQL exploration 1

 Developed by Monalisa Roy

In [3]:
Create DATABASE Project;

In [4]:
USE Project;

###  Creating a table

In [5]:

Create Table Location(
Location_id int not null,
City varchar(50),
PRIMARY KEY (Location_id));

###  Inserting values

In [6]:
INSERT into Location values(122,'New York');
INSERT into Location values(123,'Dallas');
INSERT into Location values(124,'Chicago');
INSERT into Location values(167,'Boston');

###  View table we just created

In [7]:
SELECT * from Location;

Location_id,City
122,New York
123,Dallas
124,Chicago
167,Boston

###  Create table called Department

In [8]:
CREATE TABLE Department(
Department_id int not null,
Name varchar(50),
Location_id int,
PRIMARY KEY (Department_id),
FOREIGN KEY (Location_id) REFERENCES Location(Location_id));

###  Insert values into department

In [9]:
INSERT into Department values(
10,'Accounting',122);
INSERT into Department values(
20,'Sales',124);
INSERT into Department values(
30,'Research',123);
INSERT into Department values(
40,'Operations',167);

SELECT * from Department;

Department_id,Name,Location_id
10,Accounting,122
20,Sales,124
30,Research,123
40,Operations,167

###  Create table job, insert values and view it

In [10]:
CREATE TABLE Job(
Job_id int not null,
Designation varchar (100),
PRIMARY KEY (Job_id)
);

INSERT into Job values(
 667,'Clerk');   
 INSERT into Job values(
 668,'Staff');
 INSERT into Job values(
 669,'Analyst');
 INSERT into Job values(
 670,'Sales Person');
 INSERT into Job values(
 671,'Manager');
 INSERT into Job values(
 672,'President');

 SELECT * from Job;

Job_id,Designation
667,Clerk
668,Staff
669,Analyst
670,Sales Person
671,Manager
672,President

### Use of foreign keys

In [11]:
CREATE TABLE Employee(
Employee_id int not null,
Last_Name varchar(50),
First_Name varchar(100),
Middle_Name varchar(20),
Job_id int,
Manager_id int,
Hire_date date,
Salary int,
Comm int,
Department_id int,
FOREIGN KEY (Job_id) REFERENCES Job(Job_id),
FOREIGN KEY (Department_id) REFERENCES Department(Department_id));

INSERT INTO Employee Values(
7369,'Smith','John','Q',667,7902,'1984-10-17',800,null,20 ); 
INSERT INTO Employee Values(
7499,'Allen','Kevin','J',670,7698,'1985-02-20',1600,300,30); 
INSERT INTO Employee Values(
7505,'Doyle','Jean','K',671,7839,'1985-04-04',2850,null,30); 
INSERT INTO Employee Values(
7506,'Dennis','Lynn','S',671,7839,'1985-05-15',2750,null,30 ); 
INSERT INTO Employee Values(
7507,'Baker','Leslie','D',671,7839,'1985-06-10',2200,null,40 ); 
INSERT INTO Employee Values(
7521,'Wark','Cynthia','D',670,7698,'1985-02-22',1250,500,30);

In [12]:
Select * from Employee;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20
7499,Allen,Kevin,J,670,7698,1985-02-20,1600,300,30
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30
7507,Baker,Leslie,D,671,7839,1985-06-10,2200,NULL,40
7521,Wark,Cynthia,D,670,7698,1985-02-22,1250,500,30

**List out Firstname, Lastname,Salary, Commission for all employees**

In [13]:
SELECT First_Name, Last_Name, Salary, Comm from Employee;

First_Name,Last_Name,Salary,Comm
John,Smith,800,NULL
Kevin,Allen,1600,300
Jean,Doyle,2850,NULL
Lynn,Dennis,2750,NULL
Leslie,Baker,2200,NULL
Cynthia,Wark,1250,500

**List out Employeeid, Lastname, Departmentid for all employee and alias employeeid as 'ID of the Employee', Lastname as 'Name of the Employee', Departmentid as Dep\_ID'**

In [14]:
SELECT Employee_id as 'Id of the Employee', Last_Name as 'Name of the Employee', Department_id as 'Dep_id' from Employee;

Id of the Employee,Name of the Employee,Dep_id
7369,Smith,20
7499,Allen,30
7505,Doyle,30
7506,Dennis,30
7507,Baker,40
7521,Wark,30

**List out the Employees annual salary with their names only**

In [15]:
SELECT First_Name, Middle_Name, Last_Name, Salary from Employee;

First_Name,Middle_Name,Last_Name,Salary
John,Q,Smith,800
Kevin,J,Allen,1600
Jean,K,Doyle,2850
Lynn,S,Dennis,2750
Leslie,D,Baker,2200
Cynthia,D,Wark,1250

**List the details about 'Smith'**

In [16]:
SELECT * from Employee WHERE Last_Name = 'Smith';

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20

**List out the employees who are working in department 20**

In [17]:
SELECT * from Employee WHERE Department_id=20;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20

**List out the employees who are earning salary between 1000 and 2000**

In [19]:
SELECT * from   Employee WHERE Salary BETWEEN 1000 and 2000;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7499,Allen,Kevin,J,670,7698,1985-02-20,1600,300,30
7521,Wark,Cynthia,D,670,7698,1985-02-22,1250,500,30

**List out the employees who are working in department 10 or 30**

In [20]:
SELECT * from Employee WHERE Department_id=10 or Department_id=30;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7499,Allen,Kevin,J,670,7698,1985-02-20,1600,300,30
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30
7521,Wark,Cynthia,D,670,7698,1985-02-22,1250,500,30

**List out the employees whose Lastname starts with 'S'**

In [21]:
SELECT * from Employee WHERE Last_Name LIKE 'S%';

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20

**List out the employees whose Last name starts with 'S' and ends with 'H'**

In [24]:
SELECT * from Employee WHERE Last_Name LIKE 'S%h';

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20

**List out the employees whose Lastname length is 4 and start with 'S'**

In [25]:
SELECT * from Employee WHERE Last_Name LIKE 'S___%';

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20

**List out employees who are working in department 30 and draw the salaries more than 2500**

In [28]:
SELECT * from Employee WHERE Department_id = 30 AND Salary>2500;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30

**List out the employees who are not receiving commission**

In [29]:
SELECT * from Employee WHERE Comm IS NULL;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30
7507,Baker,Leslie,D,671,7839,1985-06-10,2200,NULL,40

**LIst out the employeeid, Lastname in ascending order based on the employeeid**

In [30]:
SELECT Employee_id, Last_Name from Employee ORDER BY Employee_id ASC;

Employee_id,Last_Name
7369,Smith
7499,Allen
7505,Doyle
7506,Dennis
7507,Baker
7521,Wark

**List out the employee id, Firstname, in descending order based on salary**

In [31]:
SELECT Employee_id, First_Name, Salary from Employee ORDER BY Salary DESC;

Employee_id,First_Name,Salary
7505,Jean,2850
7506,Lynn,2750
7507,Leslie,2200
7499,Kevin,1600
7521,Cynthia,1250
7369,John,800

**list out the employee details according to their last name in ascending order**

In [32]:
SELECT * from Employee ORDER BY Last_Name ASC;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7499,Allen,Kevin,J,670,7698,1985-02-20,1600,300,30
7507,Baker,Leslie,D,671,7839,1985-06-10,2200,NULL,40
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20
7521,Wark,Cynthia,D,670,7698,1985-02-22,1250,500,30

**List out the employee details according to their lastname in ascending order and then on department id in descending order**

In [34]:
SELECT * from Employee ORDER BY Last_Name ASC;
SELECT * from Employee ORDER BY Department_id DESC;

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7499,Allen,Kevin,J,670,7698,1985-02-20,1600,300,30
7507,Baker,Leslie,D,671,7839,1985-06-10,2200,NULL,40
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20
7521,Wark,Cynthia,D,670,7698,1985-02-22,1250,500,30

Employee_id,Last_Name,First_Name,Middle_Name,Job_id,Manager_id,Hire_date,Salary,Comm,Department_id
7507,Baker,Leslie,D,671,7839,1985-06-10,2200,NULL,40
7521,Wark,Cynthia,D,670,7698,1985-02-22,1250,500,30
7499,Allen,Kevin,J,670,7698,1985-02-20,1600,300,30
7505,Doyle,Jean,K,671,7839,1985-04-04,2850,NULL,30
7506,Dennis,Lynn,S,671,7839,1985-05-15,2750,NULL,30
7369,Smith,John,Q,667,7902,1984-10-17,800,NULL,20